:root {
    --height-header: 75px;
    --height-header-mobile: 70px;
    --height-header-tablet: 70px;
    --width-logo: 145px;
    --width-logo-mobile: 80px;
    --width-logo-tablet: 100px;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #666666;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

/* Header */
.wrap-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
}

.nav {
    min-height: var(--height-header);
    max-height: var(--height-header);
    background-color: #fff;
    display: flex;
}

.nav__logo {
    padding-left: 0;
    width: var(--width-logo);
}

.nav__img {
    width: var(--width-logo);
    height: var(--height-header);
}

.nav__list {
    list-style: none;
    display: inline-block;
    line-height: 50px;
}

.menu-left {
    flex: 2;
    padding-left: 1rem;
}

.nav__search {
    line-height: var(--height-header);
}

.nav__input-search {
    border: 1px solid #ececec;
    border-radius: 0.2rem;
    width: 17rem;
    height: 2rem;
    padding-left: 1rem; 
}

.menu-right {
    width: 10rem;
    padding-left: 0;
    margin-left: 1.5rem;
}

.nav-item {
    display: inline-block;
    padding: 0 20px;
    font-weight: 600;
}

.nav-item:hover .nav-item__text{
    color: #3399d2;
}

/* Sub-menu */
.nav-sub {
    position: relative;
}

.nav-sub:hover .nav-sub__menu{
    display: block;
}

.nav-sub__menu {
    display: none;
    position: absolute;
    top: 2.7rem;
    left: 0;
    border: 1px #ececec solid;
    width: 145px;
    background-color: #fff;
    /* goc toa do xuat phat animation */
    transform-origin: top left;
    animation: navSubMenuGrowth ease-in 0.25s;
}

@keyframes navSubMenuGrowth {
    from { transform: scale(0); }
    to { transform: scale(1); }
}

.nav-sub__list {
    padding-left: 0;
    list-style: none;
}

.sub-item {
    padding-left: 1.1rem;
}

.sub-item:hover {
    background-color: #ececec;
    color: #3399d2;
}

.nav__menu-mobile {
    display: none;
}


.slider {
    height: 415px;
    background-image: url("./img/slider-main.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: var(--height-header);
    position: relative;
}

.slider__content {
    position: absolute;
    top: 10rem;
    left: 10rem;
    color: #fff;
}

.slider__action {
    position: absolute;
    top: 15rem;
    left: 10rem;
}

.slider__button {
    padding: 15px 40px;
    background-color: #fff;
    color: #000;
    border: none;
}


/* Container */
.container {
    margin-top: 1rem;
}



/* Intro */
.container__intro {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.intro__item {
    background-color: #fff;
    margin: 1rem;
    text-align: center;
    height: 20rem;
}


/* Footer */
.footer {
    background-color: #fff;
}

.footer__content {
    display: flex;
    justify-content: space-around;
}

.footer__list {
    padding-left: 0;
    list-style: none;
    color: #3399d2;
}

.footer__item {
    padding: 0.5rem 0;
}

.footer__copy-right {
    background-color: #ececec;
    height: 3rem;
    line-height: 3rem;
    text-align: center;    
}



/* PC 1440px */
@media (min-width: 1025px) { 
    /* Header */
    .nav__input-search {
        width: 22rem;
    }
    
    .slider {
        height: 546px;
    }
}



/* Mobile & Tablet */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    /* Header */
    .nav__img {
        height: var(--height-header-mobile);
    }
}




/* Mobile */
@media (max-width: 723px) {
    .hide-on-mobile {
        display: none;
    }

    /* Header */
    .nav {
        justify-content: space-between;
    }

    .nav__logo {
        width: var(--width-logo-mobile);
        line-height: 102px;
    }

    .nav__img {
        width: 65px;
        height: 35px;
    }

    .nav__input-search {
        width: 14rem;
    }

    .nav__menu-mobile {
        display: block;
        padding: 1.5rem 1.5rem 1.5rem 1rem;
        position: relative;
    }

    .nav__menu-mobile__icon:hover .nav__menu-mobile__list {
        display: block;
    }

    .nav__menu-mobile__list {
        display: none;
        margin-top: 0.5rem;
        padding-left: 0;
        border: 1px solid #ececec;
        width: 290px;
        position: absolute;
        left: -16.5rem;
        transform-origin: right top;
        animation: navMenuMobileList ease-in 0.2s;
    }

    @keyframes navMenuMobileList {
        from { transform: scale(0); }
        to { transform: scale(1); }
    }

    .nav__menu-mobile__item {
        list-style: none;
        padding: 1rem 0;
        font-weight: 600;
        border-bottom: 1px solid #ececec;
        background-color: #fff;
        display: flex;
    }

    .nav__menu-mobile__item:hover {
        background-color: #ececec;
        color: black;
    }

    .menu-mobile__item-icon {
        width: 2.3rem;
        margin-left: 1rem;
    }

    .menu-mobile__item-text {
        flex: 1;
    }

    /* Slider */
    .slider {
        height: 155px;
    }

    .slider__action {
        top: 65px;
        left: 35px;
    }

    .slider__button {
        padding: 7px 15px;
    }
}



/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }

    .nav {
        min-height: var(--height-header-mobile);
        max-height: var(--height-header-mobile);
    }

    /* Header */
    .nav__logo {
        width: var(--width-logo-tablet);
    }

    .nav__img {
        width: var(--width-logo-tablet);
    }

    .nav__input-search {
        width: 10rem;
    }

    .nav__list.menu-left {
        padding-left: 1rem;
    }

    .nav__list.menu-right {
        width: 8rem;
    }

    .nav-item {
        padding: 0 15px;
    }

    .slider {
        margin-top: var(--height-header-tablet);
        height: 315px;
    }

    .slider__content {
        top: 4rem;
        left: 2rem;
        font-size: 13px;
    }
    
    .slider__action {
        top: 9rem;
        left: 4rem;
    }
    
    .slider__button {
        padding: 10px 30px;
    }
}